# Code owners
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @srpghost and @milind-k8 will be requested for
# review when someone opens a pull request.
*       @srpghost @milind-k8
